<div class="card">
  <h2><%= gettext "Welcome to %{name}", name: "Spellit!" %></h2>
  <p class="lead">An app to insert words and add those words to lists for spelling purposes.</p>
  <a href="/words">Words</a><br />
  <a href="/lists">Word Lists</a>
</div>
